body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.visualizer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searching-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
}

.array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 80vw;
    height: 60vh;
    box-sizing: border-box;
    padding: 10px;
}

.array-bar {
    width: 2vw;
    display: inline-block;
    margin: 0 1px;
    border-radius: 5px;
    background-color: black;
    transition: height 0.2s ease;
    color: white;
    text-align: center;
    font-size: 0.6rem;
    font-weight: 600;
}